.m-product {
  font-weight: get-font-weight(thin);

  p {
    margin: 0 0 5px;
  }

  .m-product__image-preview {
    height: 350px;

    .m-product__image {
      max-height: 350px;
    }

    .cloud-zoom-lens {
      border: 5px solid #888;
      margin: -5px;
      cursor: crosshair;
    }
    .cloud-zoom-title {
      position:absolute !important;
      background-color:#000;
      color:#fff;
      padding: 0;
      width:100%;
      text-align:center;
      font-weight:bold;
      font-size: 10px;
      top: 0;
    }
    .cloud-zoom-big {
      border: 1px solid #f4f7f7;
      overflow:hidden;
    }
    .cloud-zoom-loading {
      color:white;
      background:#222;
      padding:3px;
      border:1px solid #000;
    }
    .cloud-zoom-wrap {
      position: relative;
    }
    .cloud-zoom-wrap .mousetrap {
      width: 100% !important;
      height: 100% !important;
    }
    .cloud-zoom-big {
      left: 0 !important;
    }
  }

  .m-product__thumbnails {
    padding: 0 20px;

    .m-product__thumbnail-item {
      @include flexbox();
      @extend .align-items-center;
      @extend .justify-content-center;
      height: 80px;
      border: 1px solid #e1e1e1;
      cursor: pointer;
      @include border-radius(4px);

      &:hover {
        img {
          @include opacity(0.8);
        }
      }

      img {
        max-height: 70px;
      }
    }

    .swiper-slide.swiper-slide-active {
      .m-product__thumbnail-item {

      }
    }

    .swiper-pager {
      .swiper-button {
        @include flexbox();
        @extend .align-items-center;
        @extend .justify-content-center;
        @include opacity(1, '!important');
        width: 20px;
        height: 100%;

        &--prev {
          left: 0!important;
        }

        &--next {
          right: 0!important;
        }

        > i {
          font-size: 1.5rem;
        }
      }
    }
  }

  .m-product__name {
    font-size: get-font-size(regular, '+++++');
    font-weight: get-font-weight(bold);
    margin: 0 0 10px;
    text-transform: none;
  }

  .m-product__flexbox {
    @include flexbox();
  }

  .m-product__terms {
    ul {
      margin: 0;
    }
  }

  .m-product__brand {
    img {
      max-width: 85px;
    }
  }

  .m-product__buy {
    background-color: #F2F4F8;
    padding: 30px;
    margin: 20px 0;
    @include border-radius(10px);
  }

  .m-product__price {
    margin: 0 0 20px;

    > span {
      margin: 0 5px 0 0;
    }

    .price-label {}

    .price-new {
      color: array-get($m--state-colors, flamingo, base);
      font-size: get-font-size(regular, '++++');
      font-weight: get-font-weight(bold);
    }

    .price-old {
      font-size: get-font-size(regular, '+');
      font-weight: get-font-weight(thin);
      text-decoration: line-through;
    }
  }

  .m-product__cart {
    @include flexbox();
    @extend .align-items-center;

    .m-product__qty {
      margin-right: 10px;
      .input-group-btn {
        .btn {
          background-color: #fff;
          border-color: transparent;
        }
      }
      .form-control {
        max-width: 50px;
        text-align: center;
        border: none;
        border-radius: 0;
      }
    }
    .m-product__add-cart {
      .btn {
        i {
          font-size: 2rem;
        }
      }
    }
  }



  .m-product__info {
    font-size: get-font-size(regular, '+');
    font-weight: get-font-weight(thin);

    p {
      margin: 0 0 5px;
    }
  }

  .m-product__section {
    margin: 0 0 30px;

    .m-product__section-heading {
      height: 42px;
      background: #F2F4F8;
      @include border-radius(1px);
      @include flexbox();
      @extend .align-items-center;
    }

    .m-product__section-title {
      @include flexbox-flex(1 1);
      position: relative;
      font-size: get-font-size(regular, '+');
      font-weight: get-font-weight(bold);
      padding-left: 13px;
      padding-right: 10px;
      margin: 0;

      &::before {
        content: "";
        background-color: #23487b;
        background-image: linear-gradient(135deg,#bd2a36,#9b4599,#214181);
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 3px;
      }
    }
    .m-product__section-body {
      padding: 0;
      margin-top: 10px;
    }
  }

  .m-product__specification {
    .m-props {
      margin: 0;
      padding: 0;

      .m-props__item {
        @include flexbox();
        padding: 7px 10px;

        &:nth-child(2n) {
          background: #ededed;
        }
      }

      .m-props__item-label {
        @include flexbox-flex(0 0 200px);
        width: 200px;
        margin-right: 15px;
        min-width: 1px;
      }

      .m-props__item-info {
        @include flexbox-flex(1 1);
        min-width: 1px;
      }
    }
  }

  .m-product__segment {
    margin: 0 0 10px;

    .m-product__segment-title {
      font-size: get-font-size(regular, '++');
      font-weight: get-font-weight(bold);
      text-align: center;
      margin-bottom: 10px;
    }
  }

  .m-product__feature-list {
    margin-bottom: 10px;
    background: url('../../media/svg/shield-gray.svg') no-repeat 50%;
    background-size: contain;

    li {
      position: relative;
      font-size: get-font-size(regular);
      padding-left: 22px;
      margin-bottom: 10px;

      > i {
        color: get-state-color(accent);
        position: absolute;
        left: 0;
        top: 2px;
      }
    }
  }

  .m-product__support {
    .m-product__support-info {}
    .m-product__support-item {
      a {
        @include link-hover(accent);

        > i {
          color: get-state-color(accent, base);
        }
      }
    }
  }
}