/*  Main Menu  */

#bg-blur {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #14152D;
  visibility: hidden;
  opacity: 0;
  z-index: 3000;

  @include breakpoint(max-width bp(md)) {
    display: none;
  }

  &.blur {
    visibility: visible;
    opacity: 0.8;
  }
}

.navbar {
  border-radius: 0;
  border: none;
  margin-bottom: 0;

  .main-menu {
    margin: 0;
    padding: 0;

    > li {
      float: none;
      display: inline-block;

      &:first-child {
        border-left: none !important;
      }
      &:last-child {
        border-right: none !important;
      }
    }
  }
}

.wrapper.framed #menu > .container {
  position: relative;
  padding: 0 30px;
}
.wrapper.framed #menu .main-menu {
  margin: 0 -15px;
}

#menu {
  display: block;
  padding: 0;
  margin: 0;
  line-height: 60px;
  max-height: 60px;
  background-repeat: repeat-x;
  transition: all 0.2s ease-in 0s;
  z-index: 3000;

  .navbar-collapse {
    box-shadow: none;
    display: block!important;
    height: auto!important;
    padding-bottom: 0;
    overflow: visible!important;
    flex: none;
  }

  .main-menu {
    display:inline;
    margin:0;
    padding:0;

    .lnr {
      float: left;
      margin-top: 1px;
      margin-right: 10px;
    }

    > li {
      margin-right: -3px;
      line-height: 20px;
      transition: all 0.2s ease-in 0s;

      &:first-child > a {
        padding-left: 0;
      }

      &:hover > a + .dropdown-menus {
        display: block;
        opacity: 1;
        visibility: visible;
      }

      .dropdown-menus li > a + .dropdown-menus {
        left: 230px;
        margin-top: -50px;
      }

      .dropdown-menus li:hover > a + .dropdown-menus {
        display: block;
        opacity: 1;
        visibility: visible;
      }

      > a {
        @extend %font-size-ml;
        @extend %font-weight-medium;
        color: $text-color;
        padding: 22px 20px;
        min-height: 15px;
        position: relative;
        transition-property: color, line-height;
        transition-duration: 0.15s, 0.5s;
      }
    }

    > li.menu_oc .dropdown-menus li > a + .dropdown-menus {
      left: 180px;
      margin-top: 0;
    }
  }

  .dropdown-menus {
    text-align: left;
    position: absolute;
    margin-top: 20px;
    padding: 20px 0;
    opacity: 0;
    visibility: hidden;
    z-index: 999;
    background-color: #FFFFFF;
    background-position: right top;
    background-repeat: no-repeat;
    line-height: 1.8;
    box-shadow: 0 0 15px rgba(76,88,103,0.15);

    &::-webkit-scrollbar {
      -webkit-appearance: none;
      width: 8px;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 4px;
      background-color: lightgray;
    }

    a {
      min-width: 230px;
      display: block;
      padding: 4px 25px;
      clear: both;
      width: 100%;
      transition: all 0.15s ease-in 0s;
      outline: none !important;

      &:hover {
        padding: 4px 25px 4px 30px;
      }
    }

    a.see-all {
      display: block;
      padding: 25px 15px 25px 25px;
      border-radius: 0;
      position: absolute;
      bottom: 0;
      left: 0;

      &:hover {
        padding-left: 30px;
      }
    }
  }

  .fa-angle-down {
    font-size: 14px;
    margin-left: 5px;
    position: relative;
    top: 0;
  }

  #menu_inline .fa-angle-down {
    font-size: 11px;
    position: absolute;
    top: inherit;
    bottom: 8px;
    left: 50%;
    margin-left: -3px;
  }

  .menu_oc {
    .dropdown-menus {
      ul {
        max-height: 300px;
        width: 180px;
        margin-bottom: 50px;
      }

      li .dropdown-menus li:last-child {
        margin-bottom: 0;
      }

      li > a i {
        position: absolute;
        top: 7px;
        right: 25px;
      }

      li > a:hover i {
        right: 22px;
      }

      li > a + .dropdown-menus {
        top: 0;
        height: 100%;
      }

      a {
        position: relative;
        min-width: 180px;
        max-width: 180px;
      }
    }

    .cat-img {
      position: absolute;
      bottom: -90px;
      right: -50px;
      padding: 0;
      z-index: -1;
    }

    > a > img {
      position: absolute;
      top: 15px;
      left: 20px;
      max-height: 35px;
    }
  }

  .flexMenu-viewMore .flexMenu-popup .menu_oc > a > img {
    position: inherit;
    margin-left: -50px;
    margin-right: 10px;
    max-height: 20px;
  }

  #menu_hor {
    .dropdown-menus {
      padding: 0 15px;

      .container {
        display: block;
        margin-left: auto;
        margin-right: auto;
      }

      ul {
        background-position: right 50%;
        background-repeat: no-repeat;
        margin-bottom: 30px;
        padding-left: 0;
        padding-right: 0;

        ul {
          margin-bottom: 0;
        }
      }

      .menu-hor-categories {
        max-height: 415px;
        margin: 30px 0;
        display: flex;
        flex-wrap: wrap;
      }

      li.main-cat > a {
        min-width: inherit;
        padding: 0 1px 7px;
      }

      li.main-cat > a + a:hover img {
        transition: all 0.2s ease-in-out 0s;
        opacity: 0.9;
      }

      li.sub-cat > a {
        padding: 0 1px;
        min-width: inherit;

        &:hover {
          padding-left: 5px;
        }
      }
      li.sub-cat.sub-sub-cat > a {
        padding-left: 15px;

        &:hover {
          padding-left: 19px;
        }
      }
    }

    > a + .dropdown-menus > div > div > div > ul {
      padding-right: 30px;
    }
  }
}


.wrapper.framed #menu #menu_hor .dropdown-menus .container {
  padding: 0;
}

#menu #menu_hor .dropdown-menus li.main-cat > a,
#menu #menu_hor .dropdown-menus li.sub-cat,
#menu #menu_hor .dropdown-menus li.sub-sub-cat,
#menu_brands .brand-item .name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#menu #menu_inline .dropdown-menus {
  padding: 0 15px;
  left: 0;
}
#menu #menu_inline .dropdown-menus ul {
  display: inline-block;
}
#menu #menu_inline .dropdown-menus div {
  display: block;
}
#menu #menu_inline .dropdown-menus a {
  min-width: inherit;
  padding: 20px;
  position: relative;
}
#menu #menu_inline .dropdown-menus li:hover > a + .dropdown-menus {
  display: block;
  opacity: 1;
  visibility: visible;
}
#menu #menu_inline .dropdown-menus li > a + .dropdown-menus {
  left: 0;
  margin-top: 0;
  margin-left: 0 !important;
}
#menu #menu_inline .dropdown-menus li .dropdown-menus ul li {
  display: inline-block;
  vertical-align: top;
}

#menu #menu_metro .dropdown-menus {
  padding: 0;
  left: 0;
}
#menu #menu_metro .dropdown-menus ul {
  float: left;
  height: 200px;
  position: relative;
}
#menu #menu_metro .dropdown-menus li.main-cat {
  display: table;
}
#menu #menu_metro .dropdown-menus a {
  min-width: inherit;
}
#menu #menu_metro .dropdown-menus li.main-cat > a {
  position: relative;
  min-width: inherit;
  width: 200px;
  height: 200px;
  padding: 25px 20px;
  display: table-cell;
  vertical-align: bottom;
}
#menu #menu_metro .dropdown-menus li.main-cat > a:hover {

}
#menu #menu_metro .dropdown-menus a img {
  max-height: 40px;
  margin-bottom: 5px;
}
#menu #menu_metro .menu-category-description {
  margin-top: -5px;
  line-height: normal;
}
#menu #menu_metro .dropdown-menus li:hover > a + .dropdown-menus {
  display: block;
  opacity: 1;
  visibility: visible;
}
#menu #menu_metro .dropdown-menus li > a + .dropdown-menus {
  position: absolute;
  top: -15px;
  left: -1px;
  width: calc(100% + 2px);
  height: 230px;
  max-height: 230px;
  margin-top: 0;
  border-radius: 10px;
  padding: 20px 0;
}
#menu #menu_metro .dropdown-menus li .dropdown-menus ul {
  width: 100%;
  height: 152px;
  padding: 0 20px;
  border: none;
}
#menu #menu_metro .dropdown-menus li .dropdown-menus ul ul {
  height: auto;
  padding-left: 15px;
}
#menu #menu_metro .dropdown-menus li .dropdown-menus ul li {
  display: block;
}
#menu #menu_metro .dropdown-menus li .dropdown-menus ul a {
  padding: 0 15px;
}
#menu #menu_metro .dropdown-menus li .dropdown-menus ul a:hover {
  padding: 0 15px 0 20px;
}
#menu #menu_metro .dropdown-menus li .dropdown-menus a h5 {
  margin-top: 0;
  margin-bottom: 5px;
  padding: 0 10px;
}

#menu #menu_hor .menu-hor-categories-wrapper-9 {
  width: calc(100% - 200px);
}
#menu #menu_hor .menu-hor-categories-wrapper-6 {
  width: calc(100% - 400px);
}
#menu #menu_hor .dropdown-menus .menu-categories-custom-block-side.menu-categories-custom-block {
  width: 200px;
  padding-top: 25px;
  padding-bottom: 25px;
}
#menu #menu_hor .dropdown-menus .menu-categories-custom-block p,
#menu #menu_hor .dropdown-menus .menu-categories-custom-block a {
  margin: 0;
  padding: 0;
}
#menu #menu-categories-custom-block-top-wrapper,
#menu #menu-categories-custom-block-bottom-wrapper {
  padding: 20px 0;
}
#menu #menu-categories-custom-block-bottom-wrapper {
  border-top: 1px solid #F2F4F8;
}
#menu #menu_hor .dropdown-menus .menu-categories-custom-block-links a {
  display: inline;
  margin-right: 60px;
}

#menu_brands .dropdown-menus {
  text-align: center;
  padding: 30px 15px;
}
#menu_brands .dropdown-menus .container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: 415px;
}
.wrapper.framed #menu_brands .dropdown-menus .container {
  padding: 0;
}
#menu_brands .dropdown-menus .brand-item {
  margin-top: 5px;
  margin-bottom: 5px;
}
#menu_brands .dropdown-menus .brand-item.col-sm-8-pr {
  width: 12.5%;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
}
#menu_brands .dropdown-menus .brand-item.col-sm-10-pr {
  width: 10%;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
}
#menu #menu_brands .dropdown-menus a {
  min-width: inherit;
  padding: 0;
}
#menu_brands .image {
  padding: 0;
  display: inline;
}
#menu_brands .image img {
  max-width: 100%;
}
#menu_brands .name {
  padding: 25px 15px;
  transition: all 0.2s ease-in-out 0s;
}
#menu_brands .brand-item .name {
  padding: 0 0 5px;
}
#menu_brands > div.logo .name {
  display: none;
}
#menu_brands > div.name .image {
  display: none;
}
#menu_brands > div.name {
  text-align: left;
}

#menu .menu_custom_block .dropdown-menus {
  padding: 30px;
}
#menu .menu_custom_block .dropdown-menus .container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: 415px;
}
.wrapper.framed #menu .menu_custom_block .dropdown-menus .container {
  padding: 0;
}
#menu .menu_custom_block .dropdown-menus li {
  min-width: 230px;
  display: block;
  padding: 0px 0px 10px;
  clear: both;
  width: 100%;
}

#menu .menu_custom_menu .dropdown-menus {
  padding: 0;
}
#menu .menu_custom_menu .dropdown-menus ul {
  max-height: 415px;
}
#menu .menu_custom_menu .dropdown-menus li:first-child > a {
  padding-top: 24px;
}
#menu .menu_custom_menu .dropdown-menus li:last-child > a {
  padding-bottom: 24px;
}
#menu .menu_custom_menu .dropdown-menus a {
  min-width: 200px;
  padding: 4px 25px;
}
#menu .menu_custom_menu .dropdown-menus a:hover {
  padding: 4px 25px 4px 30px;
}


/* Flex Menu */
#menu .flexMenu-viewMore {
  position: relative;
}
#menu .flexMenu-viewMore i.fa-circle {
  font-size: 5px;
  margin-right: 3px;
  vertical-align: middle;
}
#menu .flexMenu-viewMore i.fa-circle:first-child {
  margin-left: 3px;
}
#menu .flexMenu-viewMore .flexMenu-popup {
  right: 0;
  padding: 0;
}
#menu .flexMenu-viewMore .flexMenu-popup > li {
  list-style: none;
  border-left: none;
  transition: all 0.2s ease-in 0s;
}
#menu .flexMenu-viewMore .flexMenu-popup > li > a {
  min-width: 200px;
  max-width: 200px;
  padding: 4px 25px;
}
#menu .flexMenu-viewMore .flexMenu-popup > li:hover > a {
  padding: 4px 25px 4px 30px;
}
#menu .flexMenu-viewMore .flexMenu-popup > li:first-child > a {
  padding-top: 24px;
}
#menu .flexMenu-viewMore .flexMenu-popup > li:last-child > a {
  padding-bottom: 24px;
}
#menu .flexMenu-viewMore .flexMenu-popup i {
  display: none;
}
#menu .main-menu > li.flexMenu-viewMore .flexMenu-popup li > a + .dropdown-menus {
  right: 200px;
  left: inherit;
}
#menu .main-menu > li.flexMenu-viewMore .flexMenu-popup li > a + .dropdown-menus .dropdown-menus {
  right: 180px;
}
#menu .main-menu > li .flexMenu-popup.dropdown-menus li > a + .dropdown-menus {
  margin-top: -50px;
}
#menu .main-menu > li .flexMenu-popup.dropdown-menus li > a + .dropdown-menus .dropdown-menus {
  margin-top: 0;
}
#menu .flexMenu-popup #menu_brands .dropdown-menus,
#menu .flexMenu-popup .menu_custom_block .dropdown-menus {
  left: inherit;
  width: 700px;
}
.flexMenu-popup #menu_brands .dropdown-menus {
  padding: 0;
}
.flexMenu-popup #menu_brands .dropdown-menus .container {
  padding: 20px 15px;
  max-height: none;
}
.flexMenu-popup #menu_brands .dropdown-menus .brand-item {
  width: 20%!important;
}
#menu .flexMenu-popup .menu_custom_block .dropdown-menus {
  padding: 25px 0;
}

/*  Main Menu Labels  */
.menu_label {
  color: #FFFFFF!important;
  position: absolute;
  top: -5px;
  right: 20px;
  display: block;
  height: 17px;
  line-height: 16px;
  padding: 0 8px;
  font-size: 10px;
  font-weight: normal;
  white-space: nowrap;
  z-index: 998;
  border-radius: 2px;
  letter-spacing: normal;
  transition: all 0.2s ease-in 0s;
}
.menu_label:after {
  position: absolute;
  bottom: -2px;
  right: 7px;
  content: " ";
  width: 6px;
  height: 6px;
  transform: rotate(45deg);
}
.flexMenu-viewMore .menu_label, .flexMenu-popup .menu_label, script + .menu_label {
  display: none;
}
#menu #menu_hor .dropdown-menus, #menu #menu_brands .dropdown-menus, #menu .menu_custom_block .dropdown-menus  {
  left: 0;
  margin-left: 0 !important;
}
#menu #menu_ver .dropdown-menus {
  padding: 0;
}
#menu #menu_ver .dropdown-menus ul {
  max-height: 415px;
  padding: 20px 0;
}
#menu #menu_ver .dropdown-menus .dropdown-menus ul {
  background-position: right center;
  background-repeat: no-repeat;
}

#menu #menu_ver_2 .dropdown-menus {
  min-height: 415px;
  padding: 0;
}
#menu #menu_ver_2 .dropdown-menus ul {
  padding: 20px 0;
}
#menu #menu_ver_2 .dropdown-menus .dropdown-menus ul,
#menu #menu_ver_2 .dropdown-menus .dropdown-menus .dropdown-menus ul {
  max-height: 415px;
}
#menu #menu_ver_2 .dropdown-menus .cat-img {
  position: absolute;
  bottom: -90px;
  right: -50px;
  padding: 0;
  z-index: -1;
  max-width: inherit;
}
#menu #menu_ver .dropdown-menus li > a,
#menu #menu_ver_2 .dropdown-menus li > a {
  position: relative;
}
#menu #menu_ver .dropdown-menus li > a i,
#menu #menu_ver_2 .dropdown-menus li > a i {
  position: absolute;
  top: 7px;
  right: 25px;
}
#menu #menu_ver_2 .dropdown-menus .dropdown-menus .dropdown-menus, #menu #menu_ver_2 .dropdown-menus .dropdown-menus .dropdown-menus ul {
  min-width: inherit;
  left: 180px;
}
#menu #menu_ver_2 .dropdown-menus .dropdown-menus {
  top: 0;
  margin-top: 0;
  padding: 20px 0;
}
#menu #menu_ver_2 .dropdown-menus .dropdown-menus ul, #menu #menu_ver_2 .dropdown-menus .dropdown-menus li > a {
  min-width: 180px;
  max-width: 180px;
}
#menu #menu_ver_2 .dropdown-menus .dropdown-menus ul {
  padding: 0;
}