.cart-content {
  min-width: 320px;
  overflow: hidden;
  color: array-get($m-config-header, header, default, text-color);
  background-color: array-get($m-config-header, header, default, bg-color);
  border-radius: 10px!important;

  > li > div {
    padding: 0 25px;
  }

  > li:not(:last-child) {
    border-bottom: 1px solid #F2F4F8;
  }

  .cart-total {
    .cart-total-title {
      min-height: 65px;
      line-height: 65px;
      padding: 0 5px 0 15px;
      margin: 0;
    }

    .cart-total-number {
      margin: 0;
    }

    .cart-total-icon {
      color: #999;
      font-size: 3rem;
    }
  }

  .cart-products {
    .table {
      width: 100%;
      max-width: 100%;
      border: 0;
      margin: 0;

      .cart-product {
        font-size: get-font-size(regular);
        color: #14152D;

        td:first-child {
          padding-left: 0;
          width: 60px;
        }

        td:last-child {
          padding-right: 0;
        }

        td {
          padding: 10px 5px;
          white-space: normal;
          border-top: 0;
          border-bottom: 1px solid #F2F4F8;
        }

        a {
          color: #14152D;
        }

        .cart-product__name {
          font-size: get-font-size(regular);
        }

        .cart-product__price {
          font-size: get-font-size(regular, '++');
          font-weight: get-font-weight(bold);
          @extend .m--font-accent;
        }

        .cart-product__remove {
          border: 0;
          color: #999;
          background: transparent;
          margin: 0;
          padding: 0;

          i {
            font-size: 1.5rem;
          }
        }
      }
    }
  }

  .cart-summary {
    padding: 10px 25px;

    .table {
      width: 100%;
      max-width: 100%;
      border: 0;
      margin: 0;

      td {
        font-size: get-font-size(regular);
        border: 0;
        padding: 5px 0;

        span {
          font-weight: get-font-weight(bold);
        }
      }
    }
  }

  .cart-actions {
    padding: 0;
    overflow: hidden;
    @include flexbox();

    a.btn {
      display: block;
      text-align: center;
      border-radius: 0;
      width: 50%;

      &:not(:last-child) {
        border-right: 1px solid #ffffff;
      }

      > i {
        font-size: 1.5rem;
      }
    }
  }

  .cart-empty {
    font-size: get-font-size(regular);
    font-weight: get-font-weight(bold);
    padding: 54px 10px;
    color: #999;

    .cart-empty-icon {
      margin: 0 0 5px;

      i {
        font-size: 100px;
        opacity: 0.2;
      }
    }
  }
}