/* Contact Block */
.contact-block {
  min-width: 800px;
  color: array-get($m-config-header, header, default, text-color);
  background-color: array-get($m-config-header, header, default, bg-color);

  > li > div {
    padding: 0 30px;
  }

  > li:not(:last-child) > div {
    border-bottom: 1px solid #F2F4F8;
  }

  .contact-links {
    .btn {
      margin-left: 10px;
    }
  }

  .contact-title {
    position: relative;
    margin: 0;
    min-height: 65px;
    line-height: 65px;
    overflow: hidden;

    .contact-title-content {
      line-height: 65px;
      margin: 0;

      > i {
        color: $m--brand-color;
        font-size: 2.2rem;
        line-height: 65px;
        vertical-align: middle;
        min-width: 40px;
      }
    }
  }

  .contact-details {
    padding-top: 15px;
    padding-bottom: 20px;

    a {
      color: #2D364C;
    }

    h2 {
      margin-top: 10px;
      margin-bottom: 5px;
      padding-bottom: 0;
      text-align: left;
    }

    h3 {
      margin-top: 10px;
      text-align: left;
      color: array-get($m--state-colors, accent, base);
    }

    h4, h5 {
      margin-bottom: 30px;
    }
  }

  .consultants {
    h4 {
      font-size: 1rem;
      margin-bottom: 5px;
    }

    .consultant {
      img {
        width: 90px;
        height: 90px;
        border-radius: 50%;
      }

      .consultant-details > span {
        display: block;
      }

      .consultant-phone a {
        font-size: get-font-size(regular, '++');
        font-weight: 500;
      }
    }
  }

  .comment {
    text-align: center;
    padding: 20px 15px;
  }
}