.header-search-bar {
  position: relative;
  margin: 10px 0;

  .form-control {
    height: 46px;
    margin-bottom: 0;
    padding: 0 30px 0 20px;
    background-color: array-get($m-config-header, header, default, bg-color);
    color: #2D364C;
    border: 2px solid #E6EAF4;
    border-radius: 5px;
    outline: 0;
    box-shadow: none;

    &::placeholder {
      font-weight: 500;
      opacity: 0.7;
    }
  }

  .btn-search {
    position: absolute;
    top: 0;
    right: 0;
    width: 46px;
    height: 46px;
    padding: 0;
    text-align: center;
    background: transparent!important;
    border-color: transparent!important;
    white-space: nowrap;
    border-radius: 0;
    border: 0;
    outline: 0;
    box-shadow: none;
    font-size: 21px;
    line-height: 40px;
    color: #2D364C;

    .button-i {
      padding: 0;
      margin: 0 auto;
    }
  }
}
