//
//** Override The Base Framework Config For This Demo
//

//== Example(reduce font size from 14px to 13px globally for desktop mode only)

//== The body element font settings
$m--root-font: (
  size: (
    desktop: 14px,
    tablet: 14px,
    mobile: 14px
  ),
  weight: 400,
  color: (
    light: #333333,
    dark: #efefef
  )
);

//== UI State Colors
//== Brand state color
$m--brand-color: #8a5d3b;
$m--brand-inverse-color: #ffffff;

//== Other state colors
$m--state-colors: (
  // metronic states
  brand: (
    base: $m--brand-color,
    inverse: $m--brand-inverse-color
  ),
  metal: (
    base: #c4c5d6,
    inverse: #ffffff
  ),
  light: (
    base: #ffffff,
    inverse: #282a3c
  ),
  accent: (
    base: #3c47cd,
    inverse: #ffffff
  ),
  focus: (
    base: #9816f4,
    inverse: #ffffff
  ),
  flamingo: (
    base: #ff6f00,
    inverse: #ffffff
  ),

  // bootstrap states
  primary: (
    base: $m--brand-color,
    inverse: #ffffff
  ),
  success: (
    base: #34bfa3,
    inverse: #ffffff
  ),
  info: (
    base: #36a3f7,
    inverse: #ffffff
  ),
  warning: (
    base: #ffb822,
    inverse: #111111
  ),
  danger: (
    base: #f4516c,
    inverse: #ffffff
  )
);

//== General Font Weights
$m--font-weights: (
  thin:  300,     // access to this font weight value calling get-font-weight function as get-font-weight(this) in SASS code
  normal: 400,    // access to this font weight value calling get-font-weight function as get-font-weight(normal) in SASS code
  bold: 500,      // access to this font weight value calling get-font-weight function as get-font-weight(bold) in SASS code
  bolder: 600,    // access to this font weight value calling get-font-weight function as get-font-weight(bolder) in SASS code
  boldest: 700,   // access to this font weight value calling get-font-weight function as get-font-weight(boldest) in SASS code
  boldest2: 900   // access to this font weight value calling get-font-weight function as get-font-weight(boldest2) in SASS code
);