/**
* Sass Map the breakpoints.
*/

$bp : (
  xxs: 320px,
  xs: 480px,
  sm: 768px,
  md: 992px,
  ml: 1024px,
  lg: 1200px,
  xl: 1600px,
  xxl: 2400px
);

@each $break, $breaks in $bp {
  @media (min-width : $breaks) {
    html::before {
      position: fixed;
      z-index: 5;
      bottom: 0;
      right: 0;
      padding: 0 4px;
      font-size: 10px;
      line-height: 15px;
      background-color: #222;
      color: white;
      content : "#{$break}";
    }
  }
}
