.accordion {padding: 0; margin-bottom: 0;}
.accordion li ul {padding: 10px 0;}
.accordion li.dcjq-parent-li, .accordion li.dcjq-parent-li ul li {position: relative; list-style: none;}
.accordion li.dcjq-parent-li ul li:last-child {margin-bottom: 5px;}
.accordion li.dcjq-parent-li ul li a { padding: 2px 10px;}
#accordion-mobile.accordion li.dcjq-parent-li ul { padding: 5px 0 10px;}
#accordion-mobile.accordion li.dcjq-parent-li ul li a { padding: 5px 10px;}
.accordion li > a + .dcjq-icon {float: right; width: 50px; height: 40px; line-height: 40px; position: absolute; top: 0; right: 0; background: none; cursor:pointer; transition: all 0.2s ease-in 0s;}
.accordion li.dcjq-parent-li .dcjq-icon:hover {}
.accordion li.dcjq-parent-li > a + .dcjq-icon {display: block; width: 50px; height: 40px; line-height: 40px; border-radius: 0; text-align: center; background: none;}
.accordion li.dcjq-parent-li > a + .dcjq-icon .lnr {font-size: 10px; line-height: 29px; transform: rotate(45deg);}
.accordion li.dcjq-parent-li > a.active + .dcjq-icon .lnr {transform: rotate(0deg);}
#accordion-mobile.accordion li.dcjq-parent-li > a + .dcjq-icon .lnr {font-size: 10px; line-height: 36px; transform: rotate(45deg);}
#accordion-mobile.accordion li.dcjq-parent-li > a.active + .dcjq-icon .lnr {transform: rotate(0deg);}
#accordion-mobile.accordion li.dcjq-parent-li > a + .dcjq-icon {width: 50px; height: 100%; line-height: 47px; border-radius: 0; text-align: center; background: none;}
.accordion li.dcjq-parent-li > a.active + .dcjq-icon {width: 50px; height: 40px; line-height: 40px; background: none;}
.accordion li.dcjq-parent-li > a.active + .dcjq-icon:hover {background: none;}
.panel-default.panel-category .accordion li.dcjq-parent-li > a {width: calc(100% - 50px);}
.panel-default.panel-category .accordion li.dcjq-parent-li > a.list-group-item.active{border: none!important;}
.panel-default.panel-category .accordion li.dcjq-parent-li:last-child > a.list-group-item{border-bottom: none!important;}