.tabs {
  .nav-tabs {
    border-bottom: 1px solid #F2F4F8;
    margin-bottom: 15px;

    &--item-center {
      justify-content: center;
    }

    > li {
      float: none;
      margin-bottom: -1px;

      > a {
        display: block;
        padding: 15px;
        margin: 0;
        @extend %font-size-lg;
        @extend %font-weight-regular;
        color: $text-color;

        &.active {
          border-bottom: 1px solid #00DFFF;
        }
      }
    }
  }
}