// Footer
footer {
  color: #2D364C;
  background-color: #F8FAFE;
  margin-top: 0;

  .footer-social {
    ul {
      margin: 0;
      padding: 0;

      > li {
        position: relative;
        display: inline-block;

        > a {
          display: block;
          text-align: center;
          width: 36px;
          height: 36px;
          line-height: 37px;
          margin: 3px 1px 3px 0;
          padding: 0;
          @include border-radius(50%);
          @include transition(all 0.2s ease-in 0s);

          > i {
            font-size: 20px;
            vertical-align: middle;
            color: #fff
          }
        }

        &.facebook > a {
          background-color: #4C75BD;
        }
        &.twitter > a {
          background-color: #00C5FF;
        }
        &.youtube > a {
          background-color: #DB3B1B;
        }
      }
    }
  }
}