// Flat UI Color Variations
// Color variations can be used for Metronic components, such as portlets, buttons, dashboard stats.  

@mixin flatui-color-variant($name, $color, $text-color) {
  
  /* Button */
  .#{$name} {
    &.btn {
      @include button-variant($text-color, $color, $color);
    }
  }

  /* Button Strip */
  .btn.#{$name}-stripe {
    border-left: 3px solid $color;
  }  

  /* Portlet */
  @include porlet-background($name, $color);
  @include porlet-solid($name, $text-color);
  @include porlet-box($name, $color, $text-color); 

  /* General Element */
  .bg-#{$name} {
    border-color: $color !important;
    background-image: none !important;
    background-color: $color !important;
    color: $text-color !important;
  }

  /* General Text & Icon Font Colors */
  .font-#{$name} {
    color: $color !important;
  }

  .progress-bar.#{$name} {
    background: $color !important;
    color: $text-color !important;
  }
  
  .border-#{$name} {
    border-color: $color !important;
  }
}