/**
* Stepper - Builds a series of classes with a stepped loop
*
* @param $property string -> a css property (e.g. 'border-top')
* @param $from integer -> a loop counter start
* @param $through integer -> a loop counter end
* @param $steps integer -> an increment value for each iteration
* @param $unit string -> a unit value (e.g. 'px' or 'em')
*
* Example / Result:
* -------------------------------------------------------------
* .stepper { @include stepper('border-top', 1, 3, 50, em); }
*
* .stepper--50  { border-top: 50em; }
* .stepper--100 { border-top: 100em; }
* .stepper--150 { border-top: 150em; }
* --------------------------------------------------------------
*
*/

@mixin stepper($property, $from, $through, $step: 5, $unit: px) {
  @for $i from $from through $through {
    &--#{$i * $step} {
      #{$property}: ($i * $step) * 1#{$unit};
    }
  }
}