.catalog-widget {
  position: relative;
  @extend %font-size-xs;
  @extend %font-weight-light;
  @extend .slds-grid;
  line-height:24px;
  border: 1px solid #e0e4f6;
  background: #fff;
  @include border-radius(3px);
  padding: 6px 12px;
  margin: 0 0 20px;

  .slds-grid {
    width: 100%;
  }

  &__label {
    display:block;
    text-align:right;
    color: $text-color-widget-label;
    @extend %font-size-xs;
    @extend %font-weight-regular;
    margin: 3px 0 10px;

    @include breakpoint(max-width bp(sm)) {
      text-align:left;
    }
  }
  
  ul {
    
    @include breakpoint(max-width bp(sm)) {
      padding: 0;
    }
    
    > li {
      display:inline-block;
      position:relative;
      padding: 3px 12px;
      
      &.current {
        @extend .font-red;
        @extend %font-weight-regular;
      }

      > span, > a {
        vertical-align: middle;
      }

      .close {
        display:inline-block;
        width:17px;
        height:17px;
        color:#fff;
        background: url(../img/icons/close.png) no-repeat 50% 50%;
        background-size: 7px;
        background-color: #ff3100;
        margin:0 0 0 8px;
        @include border-radius(25px);
      }
    }
  }
  
  &.catalog-widget-filtered {
    ul {
      
      > li {
        background: #f5f5f5;
        margin-right: 8px;
        margin-bottom: 8px;
        color: #414141;
        @include border-radius(3px);
      }
    }
  }
}