.products {
  position:relative;
  z-index:1;
  
  &__item {
    margin: 0 0 26px;
    position: relative;
    background: #fff;
    padding: 0;
    @include border-radius(4px);
    @extend %box-shadow-inset;
    
    @include breakpoint(max-width bp(xs)) {
      padding: 0;
    }
    
    &__inner {
      position:relative;
      padding: 0 0 0 170px;
      
      @include breakpoint(max-width bp(xs)) {
        padding: 0;
      }
    }
    
    &__thumb{
      padding: 20px;
      width: 170px;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      vertical-align: middle;
      display: block;
      border: none;
      border-right: 1px solid #e0e4f6;
      
      @include breakpoint(max-width bp(xs)) {
        width: 100%;
        position: relative;
        top: auto;
        left: auto;
        bottom: auto;
        height: auto;
        border: 0;
        padding: 30px 10px 20px;
      }
      
      img{
        display: block;
        position: absolute;
        max-width: 85%;
        max-height: 85%;
        width: auto;
        height: auto;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%,-50%);
        -o-transform: translate(-50%,-50%);
        -moz-transform: translate(-50%,-50%);
        -webkit-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
        margin: -2px 0 0;
        
        @include breakpoint(max-width bp(xs)) {
          position: relative;
          max-width: 100%;
          max-height: 400px;
          width: auto;
          height: auto;
          top: auto;
          left: auto;
          -ms-transform: none;
          -o-transform: none;
          -moz-transform: none;
          -webkit-transform: none;
          transform: none;
          margin: 0 auto;
        }
      }
    }
    
    &__body {
      padding: 0;
      overflow: hidden;
      
      @include breakpoint(max-width bp(xs)) {
        padding-bottom:10px;
      }
    }

    &__info {
      @extend .slds-grid;
      padding: 15px 0 0;

      @include breakpoint(max-width bp(xs)) {
        display:block;
        border-top: 1px solid #e0e4f6;
      }
    }

    &__titles {
      width:66%;
      padding: 0 5px 18px 15px;

      @include breakpoint(max-width bp(xs)) {
        width:100%;
        padding: 0 10px 10px;
      }
      
      .title-name {
        @extend %font-size-lg;
        color: #283346;
        letter-spacing: 0px;
        text-transform: none;
        margin: 0;
      }
      .title-category {
        display:inline-block;
        @extend %font-size-md;
        color: #a0a6c5;
        margin: 0 0 4px;
        border-bottom: 1px solid transparent;
        
        &:hover {
          border-bottom: 1px solid #a0a6c5;
        }
        
        > a {
          color:inherit;
        }
      }
    }
    
    &__values {
      width:34%;
      @extend .slds-grid;
      @extend .slds-grid_vertical-align-end;
      padding-right:15px;
      
      @include breakpoint(max-width bp(xs)) {
        width:100%;
        padding:0;
        justify-content: center;
      }
      
      &__p {
        float:left;
        padding: 0 10px 18px;
        @extend %font-size-sm;
        color: #868ca7;

        .label-price {
          @extend .font-red;
        }
        
        &:last-child {
          padding-right:0;
        }
        > span {
          display:block;
        }
        > span:last-child{
          color: #283346;
          font-weight:400;
        }
      }
    }
    
    &__bottom {
      position: relative;
      border-top: 1px solid #e0e4f6;
      padding: 0;
    }
    
    &__drops {
      @extend .slds-grid;
      @extend .slds-grid_vertical-align-start;
      
      @include breakpoint(max-width bp(xs)) {
        justify-content: center;
      }
      
      &__box {
        position:relative;
        padding: 10px 15px;
        font-size: 15px;
        color: #868ca7;
 
        &:not(:first-child) {
          &:after {
            position: absolute;
            content: '';
            display: block;
            width: 1px;
            background: #e0e4f6;
            height: 24px;
            margin: 0 0 0;
            top: 10px;
            left: 0;
          }
        }
        a {
          display:block;
          white-space: nowrap;
          line-height: 24px;
          text-decoration: none;
        }
      }
    }
    
    &__actions {
      @extend .slds-grid;
      @extend .slds-grid_align-end;
      @extend .list-unstyled;
      
      @include breakpoint(max-width bp(xs)) {
        justify-content: center;
      }
      
      li {
        position:relative;
        padding: 10px 15px;
        
        &:first-child {
          &:before {
            position: absolute;
            content: '';
            display: block;
            width: 1px;
            background: #e0e4f6;
            height: 100%;
            margin: 0 0 0;
            top: 0;
            left: 0;
            
            @include breakpoint(max-width bp(xs)) {
              display:none;
            }
          }
        }
        &:not(:first-child) {
          &:after {
            position: absolute;
            content: '';
            display: block;
            width: 1px;
            background: #e0e4f6;
            height: 24px;
            margin: 0 0 0;
            top: 10px;
            left: 0;
          }
        }
        
        > a {
          display: block;
          text-align: center;
          font-size: 12px;
          font-weight: 500;
          line-height:24px;
          color: #868ca7;
          text-transform: uppercase;
          white-space:nowrap;
          
          > i {
            color: inherit;
            font-size:14px;
            margin-right: 3px;
          }
          
          &:hover {
            @extend .font-red;
          }
        }
      }
    }
    
    &__collapse {
      border-top: 1px solid #e0e4f6;

      &__inner {
        padding: 20px 15px 15px;
        
        @include breakpoint(max-width bp(xs)) {
          padding: 15px 10px;
        }
      }
    }
  }
}