.widget-categories {
  padding: 15px 20px 12px;
  
  ul {
    > li {
      @extend %font-size-xs;
      @extend %font-weight-medium;
      line-height:22px;
      color: #18202e;
      margin: 0 0 7px;
      
      > a {
        display:block;
        position:relative;
        text-transform:uppercase;
        padding: 0 30px 0 0;
        
        .count {
          position: absolute;
          top: 0;
          right: 0;
          font-size:11px;
          font-weight: 500;
          color: #fff;
          background: #c0c4d7;
          display:inline-block;
          width: 28px;
          height:22px;
          text-align:center;
          @include border-radius(25px);
        }
      }
    }
  }
}