.widget-filters {
  background: #fff;
    
  &__heading {
    @extend %font-size-sm;
    @extend %font-weight-regular;
    color: $text-color-widget-label;
    display: block;
  }
  
  .slds-form-element {
    padding: 15px 20px 12px;
  }
  
  .slds-form-element:not(:first-child) {
    border-top: 1px solid #e0e4f6;
  }
  
  .slds-form-element__list {
    position:relative;
    padding: 6px 0 6px 15px;
    
    &:after {
      display: block;
      position: absolute;
      top: 4px;
      left: 4px;
      bottom: 3px;
      width: 1px;
      background: #e0e4f6;
      content: '';
    }
  }
}