.panel {
  margin-bottom: 0;

  .panel-heading {
    position:relative;
    padding-top: 10px;

    &--center {
      text-align: center;
    }

    .panel-title {
      @extend %font-size-xxl;
      @extend %font-weight-medium;
      color: $text-color;
      margin: 20px 0 10px;
    }

    .panel-title-alt {
      @extend %font-size-md;
      @extend %font-weight-regular;
      color: #70778b;
      margin: 0 0 10px;
    }
  }

  .panel-body {
    padding: 30px 0;
  }
}