#header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
  transition: 0.5s ease-in-out 0s;

  &.header-fixed {
    box-shadow: 0 0 15px rgba(76,88,103,0.15);
  }
}

#menu-fix {
  height: 141px;
  max-height: 141px;

  @include breakpoint(max-width bp(sm)) {
    height: 131px;
    max-height: 131px;
  }
}

.site-header {
  position:relative;
  background-color: $background-header-color;

  &__navigation {
    @include breakpoint(max-width bp(md)) {
      display: none;
    }
  }
}