.header-search {
  position: relative;

  .form-search {
    display:block;
    position:relative;

    &__wrap:hover {
      .form-search__popular {
        display: block;
        opacity: 1;
        visibility: visible;
      }
    }

    .slds-input {
      height: 40px;
      line-height: 40px;
      border: 2px solid #E6EAF4;
      padding: 0 40px 0 20px;
      @extend %font-size-md;
      @extend %font-weight-light;
      @include border-radius(3px);
      outline: 0;
      box-shadow: none;
    }
    
    .btn-search {
      position: absolute;
      top: 0;
      right: 0;
      width: 40px;
      height: 40px;
      background: transparent;
      white-space: nowrap;
      border-radius: 0;
      outline: 0;
      box-shadow: none;
      font-size: 20px;
    }

    &__popular {
      display: none;
      opacity: 0;
      visibility: hidden;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;

      ul {
        display: block;
        background: #fff;
        text-align: center;
        padding: 30px 25px 20px;
        margin: 10px 0 0;
        overflow: hidden;
        @include border-radius(4px);
        box-shadow: 0 0 15px rgba(76,88,103,0.15);
        > li {
          display: inline-block;
          &:first-child {
            display: block;
            @extend %font-size-sm;
            @extend %font-weight-regular;
          }
        }
      }
      .popular-search-word {
        @extend %font-size-xs;
        @extend %font-weight-regular;
        background-color: #F2F4F8;
        color: #2D364C;
        margin: 0 2px 6px;
        padding: 8px 16px;
        outline: 0;
        box-shadow: none;

        &:hover {
          background-color: #E2E6EB;
          color: #2D364C;
          box-shadow: 0 0 15px #E2E6EB;
        }
      }
    }
  }
}
