/**
* User select
*/
%user-select-none {
  -webkit-user-select : none; /* Chrome all / Safari all */
  -moz-user-select    : none; /* Firefox all */
  -ms-user-select     : none; /* IE 10+ */
  user-select         : none; /* Likely future */
}

%box-shadow-inset {
  box-shadow: inset 0 -4px 0px 0px #dfe2f0, 0 10px 20px 0px rgba(192,196,215,0.25);
}