.dl-props {
  overflow: hidden;
  margin: 0 0 14px;
  
  &__label, &__value {
    float:left;
    @extend %font-size-sm;
    @extend %font-weight-regular;
    margin: 0 0 8px;
    padding: 0 5px 0 0;
  }
  &__label {
    color: #868ca7;
    width:23%;
    
    @include breakpoint(max-width bp(xs)) {
      width:40%;
    }
      
    &:nth-of-type(2n+1), &:nth-of-type(3n+2) {
      clear:none;
    }
  }
  
  &__value {
    color: #222;
    width:27%;
    
    @include breakpoint(max-width bp(xs)) {
      width:60%!important;
      padding:0;
    }
    
    &--fullwidth {
      width: 77%;
    }
  }
  
  ul {
    > li {
      display:inline-block;
      
      &:not(:last-child):after {
        content: "|";
        display:inline-block;
        margin: 0 3px;
      }
    }
  }
}