.home-search {
  text-align: center;
  position: relative;
  height: 320px;

  .home-search-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 460px;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    background-image: url('../../media/img/banner/home1.jpg');
  }

  .home-search-wrapper {
    @include flexbox();
    @extend .align-items-center;
    width: 100%;
    height: 100%;
  }

  .home-search-content {
    position: relative;
    color: white;
  }

  .home-search-title {
    margin: 0 0 25px;
  }

  .home-search-form {
    position: relative;
    width: 570px;
    overflow:hidden;
    padding: 0;
    margin: 0 auto 15px;
    @include border-radius(30px);
    @include shadow(0 0 0 3px hsla(0,0%,100%,.2));
    z-index: 5;

    .input-group {
      width: 100%;

      .form-control {
        outline: 0!important;
        border: 0!important;
        z-index: 3;
        @include border-radius(30px);
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
    }
  }

  .home-search-note {
    font-size: get-font-size(regular, '-');
  }
}