.m-panel {
  border: none;
  border-radius: 0;
  box-shadow: none;
  background-color: inherit;
  margin-bottom: 0;

  .m-panel__heading {
    display: flex;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #F2F4F8;
    margin-bottom: 15px;
    padding-bottom: 15px;

    h1, h2, h3, h4, h5, h6 {
      float: left;
      margin-bottom: -16px;
      padding-bottom: 10px;
      border-bottom: 1px solid #F7C400;
    }
  }

  .m-panel-body {
    padding: 30px 0;
  }
}