.pagination {
  margin: 0;

  .page-item {
    &:not(:last-child) {
      margin-right: 6px;
    }

  }

  .page-link {
    background-color: #F2F4F8;
    color: #2D364C;
    padding: 9px 14px;
    border: none;
    @include border-radius(5px, '!important');
    width: 36px;
    height: 36px;
    text-align: center;
  }
}