.m-filters {
  padding: 30px 0;

  .btn-group {
    .btn {
      background-color: #F2F4F8;
      color: #14152D;

      > i {
        color: inherit;
        vertical-align: middle;
      }
    }
  }
}