.category-links {

  .category-link {
    margin: 10px 0;

    a {
      color: #2D364C;
      font-size: get-font-size(regular, '+');
      font-weight: 500;
      text-decoration: none;

      &:hover {
        color: array-get($m--state-colors, brand, base);
      }
    }
  }
}