
.m-products {

  .m-product-item {
    .m-product-item__inner {
      position: relative;
      padding: 15px 15px 20px;

      &:hover {
        .btn-cart {
          opacity: 1;
        }
      }
    }

    .m-product-item__thumb {
      position: relative;
      overflow: hidden;
      display: flex;
      align-items: center;
      min-height: 250px;
      text-align: center;

      > a {
        display: block;

        > img {
          display:block;
          max-width: 100%;
          height: auto;
          transition: all 0.5s cubic-bezier(0.2, 1, 0.3, 1) 0s;
        }
      }
    }

    .m-product-item__brand {
      font-size: 0.75rem;
    }

    .m-product-item__name {
      h4 {
        line-height: 1;
        margin: 0 0 10px;

        a {
          color: #14152D;
          font-size: 1rem;
          font-weight: 500;
          line-height: 1.4;
        }
      }
    }

    .m-product-item__price {
      .price-new {
        font-size: 1.0625rem;
        font-weight: 500;
        margin-right: 5px;
      }
      .price-old {
        color: #79828C;
        font-size: 0.875rem;
        font-weight: 300;
        text-decoration: line-through;
      }
    }

    .m-product-item__actions {
      .btn-cart {
        position: absolute;
        right: 15px;
        bottom: 20px;
        width: 50px;
        height: 50px;
        color: #333!important;
        transition: all 0.15s ease-in 0s;
        opacity: 0;

        > .la {
          font-size: 1.5625rem;
        }
      }
    }
  }
}