.m-products {
  .m-product-items {}

  .m-product-item {
    &__inner {

    }

    &__thumb {
      position: relative;
      overflow: hidden;
      text-align: center;

      a {
        display: block;

        > img {
          display:block;
          max-width: 100%;
          height: auto;
          transition: all 0.5s cubic-bezier(0.2, 1, 0.3, 1) 0s;
        }
      }
    }
  }
}